# Dependencias de Node
node_modules/

# Archivos subidos por los usuarios (PDFs)
uploads/

# Archivos de entorno y credenciales
.env

# Configuraciones del editor de código
.vscode/
.DS_Store
Datos_de_trabajadores/1790788134339-59254152-TUTORIAL_3_INSCRIPCION_PRUEBAS_SABER TYT_2025.pdf
